/*备注组件*/
.remark-wrap{
    min-height: 400px;
    max-height: 630px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    overflow-y: scroll;
    display: none;
}
.remark-header{
    width: 100%;
    height: 70px;
    padding-top: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.remark-tit {
    height: 20px;
    width: 147.34px;
    color: #2D3D5C;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    float: left;
}
.remark-close{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    float: right;
}
.remark-close img{
    width: 100%;
    height: 100%;
}
.remark-main{
    width: 100%;
    min-height: 33px;
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}
.remark-detail{
    height: 40px;
    width: 100%;
    border-radius: 2px;
    background-color: #A0A8B7;
    overflow: hidden;
}
.remark-detail>div:nth-of-type(1){
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
    text-indent: 16px;
    float: left;
}
.remark-detail>div:nth-of-type(1)>span{
    padding-right: 10px;
}
.remark-shop{
    float: right;
}
.remark-play{
    width: 19px;
    height: 17px;
    margin-top: 12px;
    margin-right: 10px;
    display: none;
}
.remark-cam{
    width: 20px;
    height: 18px;
    margin-top: 11px;
    margin-right: 10px;
}
.remark-change{
    width: 19px;
    height: 18px;
    margin-top: 11px;
    margin-right: 10px;
    display: none;
}
.remark-text{
    width: 100%;
    border: 1px solid #E0E7EE;
    box-shadow: 0 1px 0 0 rgba(170,170,170,0.01);
    border-radius: 2px;
    display: none;
}
.remark-img{
    width: 100%;
}
.remark-textarea{
    height: 200px;
    width: 100%;
    /*border: 1px solid #E0E7EE;*/
    border: none;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(170,170,170,0.01);
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: #2D3D5C;
    outline: none;
    resize: none;
}
.remark-textarea::-webkit-input-placeholder{
    color: #D7DBE2;
}
.remark-save{
    height: 30px;
    width: 80px;
    border: 1px solid #E0E7EE;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(170,170,170,0.01);
    color: #A0A8B7;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
    line-height:30px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
    display: none;
}
.remark-show{
    width: 100%;
    height: 240px;
    font-size: 16px;
    color: #2D3D5C;
    line-height: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: none;
}
